* {
    
}

body {
  
  
}
.section {
  width: 500px;
  height: 400px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  top: 100px;

}
.red__section {
  width: 1000px;
  height: 400px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 1px solid black;
  width: 25%;
  height: 25%;
  background-color: brown;
}

.wrapper {
  display: flex;
  justify-content: right;
}


.window {
  
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  
}


.section-two {
  height: 100px;
  width: 800px;
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  button {
    width: 80px;
    height: 15px;
    background-color: chartreuse;
  }
  .blue {
    background-color: blue;
  }
  .red {
    background-color: red;
  }
  margin-bottom: 50px;
}
.btn-set {

  display: block;
  margin: 0 auto;
  
}
.section-three {
  margin: 0 auto;
  margin-top: 5px;
  width: 450px;
  height: 450px;
  position: relative;
  border: 1px solid black;
  .square {
    width: 80px;
    height: 80px;
    background-color: blue;
    position: absolute;
  }
}


.timer {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 50px;
  }
}

.scroll-block {
  padding: 5px;
  overflow: auto;
  border: 1px solid black;
  width: 350px;
  height: 350px;
  p {
    margin: 10px
  }


};

.btn-scroll {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #000;
  background-color: darkgrey;
  margin-left: 120px;
}

.btn-this {


  display: flex;
  margin-left: 600px;
}


.calc {
  margin-left: 350px;
  label {
    display: block;
    font-size: 30px;
}
  input {
    width: 300px;
    height: 50px;
    font-size: 30px;
}
}

.greenBg {

  background-color:green;
}

.blockk {
  display: inline-block;
  background-color: red;
  width: 50px;
  height: 25px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}